@using WebApplication1.Models;
@model List<MenuView>
@{
    Layout = null;
}

@{

    foreach (var foodinmenu in Model)
    {


        <div class="item product-01">
            <div class="item-left">
                <h5 class="title">@foodinmenu.foodName</h5>
                <div class="des">@foodinmenu.sumary</div>
            </div>
            <div class="item-right"><span class="price woocommerce-Price-amount amount"><span class="price-symbol">$</span>@foodinmenu.price.ToString("N0")</span></div>
        </div>
    }
}
